.mario {
    position: absolute;
    width: 20%;
    margin-top: 20%;
    left: 40%;
    animation-name: mario;
    animation-duration: 4s;
    opacity: 0;
}
@keyframes mario {
    0% {
        position: absolute;
        left: -80%;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        position: absolute;
        left: 100%;
        opacity: 0;
    }
}
.mario_jump {
    position: absolute;
    left: 45%;
    margin-top: 5%;
    width: 15%;
    opacity: 0;
    animation-name: mario_jump;
    animation-duration: 6s;
}
@keyframes mario_jump {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    animation-name: move;
    animation-duration: 5s;
}
@keyframes move {
    0% {
        position: absolute;
        left: -100%;
    }
    100% {
        position: absolute;
        left: 0%;
    }
}

.treasure {
    position: absolute;
    width: 100%;
}
.hathuongduong {
    position: absolute;
    margin-top: 0.8%;
    left: 36%;
    width: 21%;
}
.hathuongduong:hover {
    position: absolute;
    width: 25%;
    left: 34%;
}
.bot {
    position: absolute;
    margin-top: 4%;
    left: 59%;
    width: 20%;
}
.bot:hover {
    position: absolute;
    width: 24%;
    left: 57%;
    margin-top: 3%
}
.hatsen {
    position: absolute;
    margin-top: 45%;
    left: 16%;
    width: 12%;
}
.hatsen:hover {
    width: 15%;
    left: 15%;
    margin-top: 43%;
}
.dauxanh {
    position: absolute;
    margin-top: 64.5%;
    left: 5%;
    width: 13%;
}
.dauxanh:hover {
    width: 16%;
    margin-top: 63%;
    left: 4%;
}
.hatbi {
    position: absolute;
    margin-top: 58%;
    left: 45%;
    width: 18%;
}
.hatbi:hover {
    margin-top: 56%;
    left: 44%;
    width: 21%;
}
.trungmuoi {
    position: absolute;
    margin-top: 73%;
    left: 59%;
    width: 19.5%;
}
.trungmuoi:hover {
    margin-top: 72%;
    left: 58%;
    width: 21%;
}
.question {
    position: absolute;
    margin-top: 90%;
    width: 4%;
    right: 5%;    
    animation-name: question;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes question {
    0% {
        width: 2%;
    }
    100% {
        width: 4%;
    }
}
.frame {
    position: absolute;
    top: 0;
    left: 40%;
    width: 30%;
    border-radius: 1%;
    animation-name: frame;
    animation-duration: 8s;
}
@keyframes frame {
    0% {
        position: absolute;
        margin-top: -50%;
        opacity: 0;
    }
    70% {
        position: absolute;
        margin-top: -40%;
        opacity: 0;
    }
    100% {
        position: absolute;
        margin-top: 0;
    }
}
.image {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    animation-name: image;
    animation-delay: 6s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes image {
    0% {
        position: absolute;
        left: -100%;
    }
    100% {
        position: absolute;
        left: 0;
    }
}
.gift {
    position: absolute;
    margin-top: 40%;
    width: 100%;
    height: 10%;
    font-size: 230%;
}
.template {
    position: absolute;
    margin-top: 45%;
    left: 10%;
    width: 80%;
}
.form {
    position: absolute;
    top: 0;
    opacity: 0;
    right: 0;
    width: 30%;
    height: 80%;
    animation-name: form;
    animation-duration: 7s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
@keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}